{
  "extends": ["airbnb", "prettier", "plugin:import/errors", "plugin:import/warnings"],
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "space-in-brackets": [
      "error",
      "always",
      {
        "singleValue": false,
        "objectsInArrays": false,
        "arraysInArrays": false,
        "arraysInObjects": false,
        "objectsInObjects": false,
        "propertyName": false
      }
    ],
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-closing-bracket-location": [1, "ligne-aligned"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
