// {
//   "extends": ["prettier", "plugin:import/errors", "plugin:import/warnings"],
//   "env": {
//     "jest": true
//   },
//   "globals": {
//     "window": true,
//     "document": true
//   },
//   "rules": {
//     "object-curly-spacing": ["error", "always"],
//     "array-bracket-spacing": ["error", "never"],
//     "computed-property-spacing": ["error", "never"],
//     "import/prefer-default-export": 0,
//     "import/no-extraneous-dependencies": 0,
//     "import/no-unresolved": 0,
//     "arrow-body-style": ["error", "as-needed"],
//     "react/jsx-filename-extension": [
//       1,
//       {
//         "extensions": [".js"]
//       }
//     ]
//   },
//   "settings": {
//     "import/resolver": {
//       "node": {
//         "moduleDirectory": ["node_modules", "src/"]
//       }
//     }
//   }
// }
