.large,
.medium,
.small {
  box-shadow: var(--box-shadow-primary);
  background-color: var(--white);
  border: var(--border-small);
}

.large {
  height: var(--size-height-large);
  width: var(--size-width-large);
  box-shadow: var(--box-shadow-secondary);
  background-color: var(--dark);
  border: var(--border-large);
}

.medium {
  height: var(--size-height-medium);
  width: var(--size-width-medium);
  border: var(--border-medium);
}

.small {
  height: var(--size-height-small);
  width: var(--size-width-small);
}

.white {
  background-color: var(--white);
  color: var(--dark);
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.danger {
  background-color: var(--red);
  color: var(--white);
}

.warning {
  background-color: var(--warning);
  color: var(--white);
}
.success {
  background-color: var(--success);
  color: var(--white);
}

.transparent {
  background-color: transparent;
  color: var(--primary);
}

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: auto;
}

.baseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 600;
  transition: box-shadow 0.3s ease;
  color: var(--primary);
  border-radius: 50px;
  &:hover {
    box-shadow: 0 10px 20px -15px var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }
}
