.table {
  --mrt-base-background-color: var(--dark);
  --mrt-striped-row-background-color: lighten(var(--mrt-base-background-color), 0.04);
  --mrt-mantine-ActionIcon-icon: red;
  /* color: var(--primary); */
  color: var(--white);
  &[data-with-border='true'] {
    border: none;
  }
}
td,
th {
  font-size: 1.2rem;
}
.list {
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 12vh;
}
