.buttonRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: box-shadow 0.3s ease;
  color: var(--primary);
  border-radius: 50px;

  &:not(:disabled):hover{
    box-shadow: 0 10px 20px -15px var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }
 &:disabled,
  &[data-disabled] {
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)) !important;
    background-color: transparent !important;
    color: var(--primary) !important;
  }

  &[data-variant='primary'] {
    background-color: var(--primary);
    color: var(--white);
    padding: 8px 24px;
  }

  &[data-variant='notes-danger'] {
    background-color: var(--red);
    color: var(--white);

    &:hover {
      background-color: var(--white);
      color: var(--red);
      border: var(--border-small);
      border-color: var(--red);
    }
  }

  &[data-variant='warning'] {
    background-color: var(--warning);
    color: var(--white);
  }

  &[data-variant='success'] {
    background-color: var(--success);
    color: var(--white);
  }

  &[data-variant='notes-transparent'] {
    background-color: transparent;
    color: var(--primary);
  }

  &[data-variant='notes-transparent-border'] {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
      background-color: var(--primary);
      color: var(--white);
      border: 1px solid var(--white);
    }
  }

  &[data-size='xlarge'] {
    height: var(--size-height-large);
    width: var(--size-width-large);
    box-shadow: var(--box-shadow-secondary);
    border: var(--border-large);
  }

  &[data-size='large'] {
    box-shadow: var(--box-shadow-primary);
    height: var(--size-height-medium);
    width: var(--size-width-medium);
    border: var(--border-medium);
  }

  &[data-size='medium'] {
    height: var(--size-height-small);
    width: var(--size-width-medium);
    font-size: 1rem;
    min-width: fit-content;
  }

  &[data-size='small'] {
    height: var(--size-height-small);
    font-size: 1rem;
    width: var(--size-width-small);
    min-width: fit-content;
  }
}

.title {
  color: var(--primary);
  text-align: center;
}