.addButton {
  width: fit-content;
  bottom: 16px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow-primary);
  background-color: var(--dark);
  border: 3px solid var(--primary);
  border-radius: 10px;
  &:hover {
    box-shadow: none;
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
  }
}

.buttonLarge {
  height: 100px;
  width: 40%;
  box-shadow: var(--box-shadow-secondary);
  background-color: var(--dark);
  border: 3px solid var(--primary);
}

.homeWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

.input {
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  float: left;
  text-align: center;

  ::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
}

.textarea {
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  width: 70%;
  height: 50%;
  margin: 1rem auto;
  float: left;
  text-align: center;

  ::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  &[data-notes] {
    width: 90%;
    height: 70%;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: auto;
}

.h1 {
  color: var(--white);
  text-align: center;
  padding: 1rem;
}

.h2 {
  color: var(--white);
  text-align: center;
  padding: 3rem;
  margin-bottom: 4rem;
  position: relative;
  top: 13vh;
}
