.root {
  background-color: var(--notification-color, var(--mantine-primary-color-filled));

  &::before {
    background-color: var(--mantine-color-red);
  }
}

.description,
.title {
  color: var(--mantine-color-white);
}

.closeButton {
  color: red;

  :hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
