.tableBody {
  background-color: aliceblue;
  position: relative;
}

.tableCell {
  white-space: nowrap;
  text-overflow: ellipsis !important;
  max-width: 300px;
  overflow: hidden;
}

.tableWrapper {
  min-width: 800px;
}
