.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 1440;
  margin: 0 auto;
}

.homeWrapper {
  height: 100%;
  margin: 16rem auto;
}

.loginWrapper {
  margin: 6rem auto;
}
