.textInput label {
  color: var(--primary);
  font-weight: 600;
}
.linkWrapper {
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
}

@media (orientation: landscape) {
  .submitButton {
    margin-top: 1rem;
  }
}
